<!-- Configuration de Hibernate -->
<hibernate-configuration>
    <session-factory>
        <!-- Configuration de la source de données -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/suptech1</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
       	<!-- Création automatique des tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Autres propriétés de configuration -->
     	<mapping class="model.Employe"/>
    </session-factory>
</hibernate-configuration>
